<%- include('./partials/header') %>

<div class="w3-content" style="max-width:1100px">
    <div class="w3-card-4 w3-white" style="margin: 16px 3px;overflow: auto; padding: 8px 16px 16px">
        <%- include('./partials/page-info') %>
        <article class="w3-container w3-large" id="article">
            <%-page.converted_content%>
            <p class="copyright"><strong>Links: <a href="<%-page.link%>"><%-page.link%></a></strong></p>
            <%- config.copyright %>
            <%- config.ad %>
        </article>
    </div>
    <%- include('./partials/prev-next') %>
    <%- include('./partials/comment') %>
</div>


<script>
  (function() {
    generateTOC();
  })();
</script>

<%- include('./partials/footer') %>
